body{
    font-family: Arial, Helvetica, sans-serif;
}

p{
    margin-bottom: 0;
}

h4{
    margin-bottom: 0;
}

.resume-container{
    padding: 20px 50px;
    margin-top: 20px;
    margin-bottom: 50px;
    max-width: 900px;
    box-shadow: 0px 7px 14px 0px #949494;
}

.resume-container p, li{
    font-size: .9rem;
}

.resume-section{
    margin-bottom: 16px;
}

.resume-list{
    margin-left: 20px;
    margin-bottom: 0;
}